@media screen and (max-width: 720px) {
  body {
    width: 480px;
  }

  header {
    height: 75px;
    line-height: 75px;
    border-top: 1px solid black;
    background-color: #fff;
  }

  aside {
    height: 150px;
    line-height: 150px;
    background-color: #eee;
  }

  #c, #d {
    height: 125px;
    line-height: 125px;
  }

  #c {
    background-color: #ddd;
  }

  #d {
    background-color: #ccc;
  }

  section {
    display: flex;
    flex-wrap: wrap;
  }

  #e, #f, #g, #h {
    width: 240px;
    height: 250px;
    line-height: 250px;
    flex: 1 0;
  }

  #e {
    background-color: #bbb;
  }

  #f {
    background-color: #aaa;
  }

  #g {
    background-color: #999;
  }

  #h {
    background-color: #888;
  }

  footer {
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid black;
    background-color: #777;
  }
}

@media screen and (min-width: 721px) and (max-width: 960px) {
  body {
    width: 720px;
  }

  header {
    height: 87px;
    line-height: 87px;
    background-color: #fff000;
    border-top: 1px solid black;
  }

  main {
    display: flex;
    flex-wrap: wrap;
  }

  aside {
    width: 720px;
    height: 150px;
    line-height: 150px;
    background-color: #eee000;
  }

  #c, #d {
    width: 360px;
    height: 100px;
    line-height: 100px;
  }

  #c {
    background-color: #ddd000;
  }

  #d {
    background-color: #ccc000;
  }

  section {
    display: flex;
    flex-wrap: wrap;
  }

  #e, #f, #g, #h {
    width: 180px;
    height: 250px;
    line-height: 250px;
  }

  #e {
    background-color: #bbb000;
  }

  #f {
    background-color: #aaa000;
  }

  #g {
    background-color: #999000;
  }

  #h {
    background-color: #888000;
  }

  footer {
    height: 115px;
    line-height: 115px;
    background-color: #777000
  }
}


@media screen and (min-width: 961px) and (max-width: 1880px) {
  body {
    width: 960px;
  }
}
